.face-snap-card {
    width: 35%;
    img {
      width: 100%;
    }
      
    }
  
    h1 {
      text-align: center;
      color: red;
      font-weight: 500;
      font-family: serif ;
    }
    body{
        margin: 0;
        padding: 0;
        
      
    }
  
