<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!'}">
    <p>{{0.471| percent}}</p>
    <h2>{{faceSnap.title | titlecase }}</h2>
    <p>Mis en ligne le {{faceSnap.creationDate | date: 'dd MMMM YYYY, à HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
    <p *ngIf="faceSnap.location"> Photo prise à {{faceSnap.location}}</p>
    <div class="row">
        <div class="column">
            <button (click)="onSnapp(faceSnap.id) " >{{ buttonText }}</button>    
            <span [ngStyle]="{ 'color': (faceSnap.snaps ? 'black' : 'red') }"> 🖇   {{faceSnap.snaps}}</span>
        </div>
        <div class="column">
            <button (click)="onClickBack() " >{{ buttonText2 }}</button>
        </div>
    </div>
</div>
