header{
text-align: center;
background-color: rgb(149, 243, 132);
margin-bottom: 30px;
padding: 10px;
box-sizing: border-box;
box-shadow: rgb(0, 0, 0) 2px 2px 5px;
margin: 20px 20px;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;


}
a {
    margin: 0 20px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .active {
    color: #666;
    text-decoration: underline;

  }

  button {
    
  }